.register-text{
    cursor: pointer;
    color: #d81977;
}
.auth-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    top:13%
  }
  
  .full-width {
    width: 100%;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
  }
  
  .error-message {
    color: red;
    margin-top: 1rem;
  }
  