<div class="container">
    <h2>רשימת קורסים</h2>
  
    @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
    }
  
    @if (courses.length > 0) {
      <ul>
        @for (course of courses; track course.id) {
          <li>
            <h3>{{ course.title }}</h3>
            <p>{{ course.description }}</p>
            @if (isUserTeacher()) {
              <button (click)="deleteCourse(course.id)">מחק קורס</button>
              <button (click)="navigateToEditCourse(course.id)">ערוך קורס</button>
            } @else {
              <button (click)="LeaveCourse(course.id)">עזוב</button>
              <button (click)="joinCourse(course.id)">הצטרף</button>
            }
            <button (click)="viewLessons(course.id)">הצג שיעורים</button>
          </li>
        }
      </ul>
    } @else {
      <p>אין קורסים זמינים כרגע</p>
    }
  </div>
  