.header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .spacer {
    flex-grow: 1;
  }
  