<!-- <mat-toolbar color="primary" class="header-toolbar">
    <span class="header-title">Online Course Management</span>
    <span class="spacer"></span>
  
    @if (user$ | async as user) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
        <button mat-menu-item (click)="toggleSidebar()">Courses</button>
      </mat-menu>
    } @else {
      <button mat-button (click)="goLogin()">Login</button>
      <button mat-button (click)="goRegister()">Register</button>
    }
  </mat-toolbar> -->
  

  <mat-toolbar color="primary" class="header-toolbar">
    <ng-template>
        <button mat-button (click)="toggleSidebar()">Courses</button>
        <span class="spacer"></span>
      </ng-template>
    <span class="header-title">Online Course Management</span>
    <span class="spacer"></span>
  
    <ng-container *ngIf="user$ | async; else loginButtons">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>
  
    <ng-template #loginButtons>
      <button mat-button (click)="goLogin()">Login</button>
      <button mat-button (click)="goRegister()">Register</button>
    </ng-template>
  </mat-toolbar>
  